:root{
  --main-color: rgba(247, 247, 247, 0.899);
  --main-orange:red;
  --body-bg: rgb(255, 255, 255);
  --box-bg: #f7fa40;
  --text-color: #000000;
  --nav-height: 70px;
  --overlay-color: rgb(39, 102, 123);
  --button-color: #f6dd49;
  --button-hover: #e7ba3e;
  --test-color: red;
}
.FuturaFont{
  font-family:"Futura Book";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--body-bg);
  padding-top: 0;
  margin: 0px;
}

.flashed {
  color: rgb(255, 196, 0);
  text-align: center;
  font-size:medium;
  background-color: rgba(255, 0, 0, 0.116);
}
/* a {
  text-decoration: none;
} */


/* .main-color {
  color: var(--main-color);

} */

.container {
  max-width: 1920px;
  padding: 0 40px;
  margin: auto;
}



/*==================== 
  NAV BAR 
====================== */
.nav-wrapper{
  background-color: var(--main-color); 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.navbar {
  margin-left: 5%;
  margin-right: 5%;
}

/*==================== 
  Footer 
====================== */

/* Main Footer */
footer .main-footer{  padding: 5px 0;  background: var(--main-color);
left: 2%;
right: 2%;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { padding: 5px 0;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: rgb(244 185 25); margin: 2px 0 0;}
.typo-light {
  color: rgb(244 185 25);
  text-align: center;
}
.footer-title {
  font-weight: bold;
  text-align: center;
}
/*==================== 
  HOME PAGE SEARCH BOX
====================== */
.search-box{
  size: 500px;
  height: 200px;
  bottom: 10;
  background-image: url(/static/img/cover.jpeg), linear-gradient( to top,rgb(254 254 254),rgb(246 221 73));
  background-blend-mode: overlay;
  background-size: cover;
}

.overlay-search {
  background-color: var(--overlay-color);
  height: inherit;
  size: inherit;
  opacity: 0.7;
}

.container-search {
  margin-left: 60px;
  text-align: center;
  position: relative;
  left: 5%;
  top: 20%;
  right: 5%;
}

.input-group-append {
  background-color: var(--button-color);
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--button-hover);
}
.btn-info {
  background-color: var(--button-color);
}

.search-content {
  color: var(--text-color);
  word-wrap: normal;
  text-align: center;
  position: relative;
  top: 10%;
}

/* .input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: rgb(8, 255, 37);
  outline: 0px
}

.form-control {
  border: 1px solid rgb(249, 0, 0);
} */
.homepage-container {
  margin-left: 5%;
  margin-right: 5%;
  background-image: url("/static/img/bg-1b.png");
  background-size: cover;
}
/*==================== 
  HOMEPAGE CAROSEUL
====================== */
.hero-slide-item {
  padding-left:10%;
  padding-right:10%;
  position: flex;
  overflow: show;
  width: 90%;
}

.hero-slide-item img {
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  background-color:#505050;

}

.hero-slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  color: var(--main-color);
}

.carousel-nav-center{
  position: relative;
}

.carousel-nav-center .owl-nav button i {
  font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.carousel-nav-center .owl-nav .owl-prev {
  position: absolute;
  left: 1px;
}

.carousel-nav-center .owl-nav .owl-next {
  position: absolute;
  right: 1px;
} 

.owl-nav button i{
  background-color: rgba(109, 109, 109, 0);
  border-radius: 50%;
} 
/*==================== 
  HOME PAGE FEATURE 
====================== */
.content-container {
  margin-left: 5px;
}
.feature-content {
  height: 50vh;
}

.feature-title{
  position: relative;
  font-size:50px;
  color: var(--main-color);
  text-shadow: var(--main-color);
  padding: 1px;
  top: 30%;
  text-align: left;
  left: 3%;
}
.feature-item {
  text-align: left;
  color:var(--main-color);
  position: relative;
  margin-right: 40%;
  padding-inline:inherit;
  top: 33%;
  margin-left: 3%;
  font-size: 15px;

}

.homepage-title {
  padding: 3%;
  left: 5px;
  font-size:30px;
  text-decoration:overline;
  text-decoration-color: var(--button-color);
  text-decoration-thickness: 0.5rem;
}
.trailer-button {
  background-color: var(--button-color);
  border-radius: 5px;
  border-color: none;
  width:auto;
  border: none;
  padding: 1px;
  left: 10px;
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
}

.trailer-button:hover {
  background-color: #e7ba3e;
}
/* NEXT ITEM HERE */
.content-title {
  font-size: 30px;
  font-weight: 1000;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--overlay-color);

}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}


.account-img {
  width: 100%;
}

.user-header-body {
  color: rgb(23, 23, 23);
  font-size: 30px;
  padding-left: 10px;

}
.user-header-img {
  width: 20%;
}
.user-header-body h2 h3 {
  font-size: 10;
  color: var(--text-color);
  padding-left: 10px;
}

.user-header {
  background: var(--body-bg);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.backdrop-container {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




 div.header.large.first {
  border-bottom: 1px solid var(--primaryColor);
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--primaryColor);
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;

}

.header-movie-item {
  width: 100%;
  padding-top: 30%;
  position: absolute;
} 

.header-movie-item img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
} 
/************ 
ALL MOVIES PAGE 
************/
.all-page-container {
  margin-left: 5%;
  margin-right: 5%;
  background-image: url("/static/img/bg-1b.png");
}
#movie-card-section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}
.movie-card-main {
  width: auto;
  padding: 2;
}
.movie-card {
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.5);
  width: 300px;
  background-color:#e1e1e1;
}
.movie-card img {
  width: 100%;
  border-radius: 3px;
}
.movie-info{
  color:rgb(231, 99, 52);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h4{
  margin-top:0;
}
.movie-info span {
  background-color:black;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.overview{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#ffffff;
}

/* ANOTHER OPTION 
} */
#movies{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  background-image: inherit;
  justify-content: center;
}
.all-mov {
  padding: 10px;
  border-radius: 3px;
}
.movie-box {
  position: relative;
  width: 250px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #505050;
}

.movie-box-img {
  width: 250px;
  height: 350px;
  background-color: #616161;
}

.movie-box .box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 14px;
  background: linear-gradient(8deg, hsl(240 17% 14% /74%) 14%,hsl(240 17% 14% /14%) 44%);
  overflow: hidden;
  color: var(--button-color);
}
.movie-title-1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.movie-type {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  background-color: (--button-hover);
  color: var(--text-color);
}
.rating-box {
  width: 60px;
  height: 30px;
  padding-top: 2%;
  border-radius: 10%;
  background-color: var(--button-color);
  box-shadow:#e1e1e1;
}
.box-text a {
  text-decoration: None;
}

.box-text a:hover {
  transform: scale(1.05);
}
.movie .heading {
  padding: 10px 14px;
}
.movie-container {
  margin-left: 5%;
  margin-right 5%;
}
.movie-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  gap: 1.5rem;
}







/* LOG IN PAGE */
.bg-image-vertical {
  position: relative;
  overflow: show;
  background-repeat: repeat;
  background-position: right center;
  background-size: auto 100%;
}
#LoginButtonDiv
{
  background-color: #f6dd49;
}
@media (min-width: 1025px) {
  .h-custom-2 {
    height: 50%;
  }
}


/*==================== 
  ACTOR DETAIL PAGE 
====================== */


.container-actor {
  height: auto;
  overflow: hidden;
  padding-top: 40px;
}

.a {
  width: 300px; 
  float: left;
  height: 1500px;
}
.a img {
  width: 250px;
  border-radius: 5px;
}
.a-image {
  text-align: center;
}
.b {
  width: auto;
  overflow: hidden;
  background: #ffc10712;
  height: auto;
  padding-left: 3%;
}

.person-info-title {
  padding-left: 30px;
  font-weight: 600;
  font-size: 14;
  padding-top: 40px;
  text-decoration: overline;
  text-decoration-color: var(--button-color);
  text-decoration-thickness: 0.3rem;
}

.person-info-list {
  list-style-type: None;
  padding-left: 40px;
}



.b h1 {
  font-weight: 800;
  
}

.b h3 {
  font-weight: 500;
  padding-top: 40px;
  text-decoration: overline;
  text-decoration-color: var(--button-color);
  text-decoration-thickness: 0.3rem;
}

.acting ul {
  list-style-type: None;
}

.acting a {
  text-decoration: None;
}
.acting a:hover {
  text-transform: bold;
}

.hero-slide-item:hover {
  transform: scale(1.05);
}

/*==================== 
  MOVIE DETAIL PAGE 
====================== */

.movie-detail-box {
  height: 600px;
  border-bottom: 1px solid var(--primaryColor);
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-detail-custom-bg {
  background-image: linear-gradient(to right, rgba(10.5, 31.5, 31.5, 1) 150px, rgb(10 31 32 / 70%) 60%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  height: inherit;
}

.movie-single-column {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 0;
  padding-left: 30px;
  padding-right: 30px;
  max-height: 600px;
}

#movie-small-header {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 0;
}

.poster-wrapper {
  min-width: 300px;
  width: 350px;
  height: auto;
  position: relative;
  text-align: center;
  max-height: 300px;
  padding-top: 20px;
}

.poster-info {
  display: flex;
  position: relative;
  width: max-content;
  flex: 2 1 0;
  flex-direction: column;
  padding-left: 20px;
  color: white;
}

poster-info h1 {
  font-size: 4rem;
}

.movie-detail-body{
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.movie-detail-actor-all {
  display: flex;
  flex-direction: column;
}

.movie-detail-actor {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  font-size: 20px;
  padding-left: 5%;
}

.movie-detail-actor ul {
  list-style-type: none;
}
.movie-detail-actor-card {
  padding-top: 7%;
}
.movie-detail-actor-profile-img img {
  max-width: 150px;
}

.movie-media{
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}


/*==================== 
  USER DETAIL
====================== */

.update-password-form input {
  display: block;
  margin: 6px 0px 6px 2px;
}

.FormRow {
  padding-left: 5%;
}