{% extends 'base.html' %}
{% block title %}Cannes Pineapple {% endblock %}

{% block body %}

<div class="all-page-container">
<section class="movie container" >
  <div class="heading">
    <h3 class="homepage-title">Actors and Actresses</h3>
    <div class="all-movies" >
    <div class="movies-content" id="movies">
      {% for actor in actors %}
        <!-- movie box -->
      <div class="all-mov">
      <div class="movie-box">
        <img src="{{ actor.headshot }}" alt="" class="movie-box-img">
        
        <div class="box-text">
          <h2 class="movie-title-1">{{ actor.actor_name }}</h2>
          <a href="/actors/{{actor.id}}"><div class="rating-box"><span class="movie-type">See Detail</span></div></a>
          </a>
        </div>
      </a>
      </div>
      </div>
      {% endfor %}
    </div>
  
  
    </div>
</div>
</section>
</div>
{% endblock %}