{% extends 'base.html' %}
{% block title %}Cannes Pineapple {% endblock %}

{% block body %}

<!-- OPTION 1 -->
<section class="all-page-container" >
  <div class="heading">
    <h3 class="homepage-title">Movies and Shows</h3>
    <div class="all-movies" >
    <div class="movies-content" id="movies">
      {% for movie in movies %}
        <!-- movie box -->
      <div class="all-mov">
      <div class="movie-box">
        {% set poster_link ="https://image.tmdb.org/t/p/w342" ~ movie.poster ~ "" %}
        <img src="{{ poster_link }}" alt="" class="movie-box-img">
        
        <div class="box-text">
          <h2 class="movie-title-1">{{ movie.movie_title }}</h2>
          <a href="/movies/{{movie.id}}"><div class="rating-box"><span class="movie-type">See Detail</span></div></a>
        
          </a>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  
  
    </div>
</div>
</section>

{% endblock %}