{% extends 'base.html' %}
{% block title %}Cannes Pineapple {% endblock %}

{% block body %}

  <h2>The list of Actors</h2>
<!-- <ul>
  {% for actor in actors %}
  
  <a href="/actors/{{ actor.id }}"> <li> {{ actor.actor_name }}</a></li>

  <li>{{ actor.biography }}</li>
  <li><img src="{{ actor.headshot }}"></li>
  <li></li>

  
{% endfor %}
</ul> -->

<section class="movie container" >
  <div class="heading">
    <h3 class="homepage-title">Actors and Actresses</h3>
    <div class="all-movies" >
    <div class="movies-content" id="movies">
      {% for actor in actors %}
        <!-- movie box -->
      <div class="all-mov">
      <a href="/actors/{{ actor.id }}"><div class="movie-box">
        <img src="{{ actor.headshot }}" alt="" class="movie-box-img">
        
        <div class="box-text">
          <h2 class="movie-title-1">{{ actor.actor_name }}</h2>
          <a href="#" class="watch-btn play-btn">
            <i class='bx bx-right-arrow' ></i>
          </a>
        </div>
      </a>
      </div>
      </div>
      {% endfor %}
    </div>
  
  
    </div>
</div>
</section>
{% endblock %}