{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block head %}{% endblock %}
{% block body %}

<!-- <div id="app"></div> -->

<!-- 
FEATURE MOVIE SECTION -->

<div class="hero-section">
	
	<div class="hero-slide">
		
		<div class="owl-carousel carousel-nav-center" id="movie-carousel">
			{% for movie in movies %}
			<div class="hero-slide-item">
				<img src="{{ movie.poster }}">
				<div class="overlay"></div>
				<div class="hero-slide-item-content">
					<div class="item-content-wrapper">
						<div class="content-title">
							{{ movie.movie_title }}
						</div>
					</div>
				</div>
			</div>
			
			{% endfor %}	
		</div>
	</div>
	
</div>

{% endblock %}

<!-- {% block js %}
	<script src="/static/homepage.jsx" type="text/jsx"></script>
{% endblock %} -->