{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block title %}Movie
{% endblock %}

{% block body %}
{% for c in character %}
<h1>{{ c.movie.movie_title }} {{ c.movie.release_date }}</h1>
<p>Movie Overview:</p>
<p>{{ c.movie.overview }}</p>
<p>Watch Trailer:</p>

<ul>
  <li>Release Date: {{ c.movie.release_date }}</li>
  <li>Asian Actor in this film:</li>
  <li>Character:</li>
  <li>
    <li>
      {{ c.char_name }}
      {{ c.actor.actor_name }}
      {{ c.movie.release_date }}
  
      {% if c.movie.watch_link %}
        <p>{% set trailer_link = "http://youtube.com/embed/" ~ c.movie.watch_link ~ "" %}</p>
        <iframe width="560" height="315" src="{{ trailer_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
  
  </li>
  </li>

</ul>
{% endfor %}
<h2>Rate this movie</h2>

{% if session.get('user_id') %}
<form action="/movies/{{ movie.id }}/ratings" method="POST">
  <p>
    Rating:
    <select name="rating">
      <option value="">Select rating</option>
      {% for num in range(6) %}
        <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </p>
  <p><input type="submit"></p>
</form>

{% else   %}
<p>Please log in to rate this movie</p>
{% endif %}
{% endblock %}
